In [1]:
import numpy as np
import pandas as pd

In [2]:
anime = pd.read_csv("anime.csv")
reviews = pd.read_csv("rating.csv")

In [3]:
anime.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [4]:
reviews.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [5]:
len(reviews)

7813737

In [6]:
len(anime)

12294

In [7]:
count = len(reviews)
preferences = {}

In [8]:
#Numpy array
review_array = reviews.values

In [9]:
for i in range(count):
    user = review_array[i, 0]
    anime = review_array[i, 1]
    rating = review_array[i, 2]
    
    if user not in preferences.keys():
        preferences[user] = {}
    
    preferences[user][anime] = rating

In [10]:
#similarity based on Euclidian


def sim_euclidian(preferences, person1,person2):
    
    similarity = {}
    
    #getting similar anime watched
    
    for anime in preferences[person1]:
        if anime in preferences[person2]:
            similarity[anime] = 1
    
    if len(similarity) == 0:
        return 0
    
    Euclidian_distance = np.sqrt(np.sum([np.power(preferences[person1][anime] - preferences[person2][anime],2) 
                                 for anime in preferences[person1] if anime in preferences[person2]]))
    
    return 1/(1 + Euclidian_distance)

In [11]:
#ranking the reviewers

def top_matches(preferences, person, n = 5, similarity = sim_euclidian):
    
    scores = [(similarity(preferences,person,reviewer),reviewer) for reviewer in preferences if reviewer != person]
    
    scores.sort()
    scores.reverse()
    return scores[:n]

In [12]:
top_match = top_matches(preferences,1)

In [13]:
top_match

[(1.0, 73472), (1.0, 73467), (1.0, 73418), (1.0, 73411), (1.0, 73407)]

In [14]:
def recommendations(preferences, person, similarity = sim_euclidian):
    total = {}
    simsum = {}
    
    for reviwer in preferences:
        if reviwer == person:
            continue
        sim = similarity(preferences,person,reviwer)
        
        if sim <= 0:
            continue
        for anime in preferences[reviwer]:
            
            if anime not in preferences[person] or preferences[person][anime] == 0:
                total.setdefault(anime,0)
                total[anime] += preferences[reviwer][anime] * sim
                
                simsum.setdefault(anime,0)
                simsum[anime] += sim
                
    ranks = [(total/simsum[anime],anime) for anime,total in total.items()]
    
    ranks.sort()
    ranks.reverse()
    
    return ranks[:10],person

In [15]:
anime = pd.read_csv("anime.csv")
anime_array = anime.values

In [16]:
anime_array[0][0]

32281

In [17]:
top_rec,user = recommendations(preferences,1)

In [18]:
anime_list = []

for i in top_rec:
    for j in range(len(anime_array)):
        if i[1] == anime_array[j][0]:
            anime_list.append(anime_array[j])

In [20]:
print("Top Recommendations for you:\n")
for i in anime_list:
    print(i[1])

Top Recommendations for you:

Shiroi Zou
STAR BEAT!: Hoshi no Kodou
Warui no wo Taose!! Salaryman Man
Choegang Top Plate
McDull, the Alumni
Mak Dau Xiang Dang Dang
Mak Dau Goo Si
Doukyuusei
Tang Lang Bu Chan
Shiranpuri