In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
anime = pd.read_csv("anime.csv")
rating = pd.read_csv("rating.csv")

In [3]:
anime.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [4]:
#anime.genre

In [5]:
rating.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [6]:
len(anime)

12294

In [7]:
len(rating)

7813737

In [8]:
rating.user_id.unique()

array([    1,     2,     3, ..., 73514, 73515, 73516], dtype=int64)

In [9]:
len(rating.anime_id.unique())

11200

In [10]:
len(anime.anime_id.unique())

12294

In [11]:
anime.isna().sum()

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

In [12]:
new_anime = anime.dropna(subset=["rating", "genre"])
len(new_anime)

12017

In [27]:
#all_genre =np.array(anime["genre"],dtype = str)
individual_genres = []

for i in range(len(new_anime["genre"])):
    try:
        word = new_anime["genre"].loc[i]
        #print(word)
    except:
        pass
    j = word.replace(".","").replace(" ","")
    new = j.split(",")
    individual_genres.append(new)
#individual_genres

In [28]:
df = pd.DataFrame({"genre": individual_genres}, columns = ["genre"])

In [29]:
transform_df = df["genre"]
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()
X = pd.DataFrame(mlb.fit_transform(transform_df),columns=mlb.classes_, index=df.index)

In [30]:
#len(df)
#len(transform_df)
len(X)

12017

In [31]:
len(new_anime)
staged_anime = new_anime.drop(columns = ["genre"])

In [32]:
len(staged_anime)

12017

In [33]:
len(X)

12017

In [34]:
#final_anime = pd.concat([staged_anime,X], axis = 1,join_axes=[staged_anime.index])
final_anime = pd.concat([staged_anime,X], axis = 1,join = "inner")

In [35]:
len(final_anime)
#final_anime

11750

In [36]:
final_anime.isna().sum()

anime_id         0
name             0
type             0
episodes         0
rating           0
members          0
Action           0
Adventure        0
Cars             0
Comedy           0
Dementia         0
Demons           0
Drama            0
Ecchi            0
Fantasy          0
Game             0
Harem            0
Hentai           0
Historical       0
Horror           0
Josei            0
Kids             0
Magic            0
MartialArts      0
Mecha            0
Military         0
Music            0
Mystery          0
Parody           0
Police           0
Psychological    0
Romance          0
Samurai          0
School           0
Sci-Fi           0
Seinen           0
Shoujo           0
ShoujoAi         0
Shounen          0
ShounenAi        0
SliceofLife      0
Space            0
Sports           0
SuperPower       0
Supernatural     0
Thriller         0
Vampire          0
Yaoi             0
Yuri             0
dtype: int64

In [37]:
rating.isna().sum()

user_id     0
anime_id    0
rating      0
dtype: int64

In [38]:
rating.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [41]:
# #new_rating = pd.DataFrame()
# for user in list(rating.user_id.unique())[:100]:
#     print(user,"-",len(rating[rating.user_id == user]))
#     #print(len(rating[rating.user_id == user]))
#     new_rating = pd.concat([new_rating,rating["rating"][rating.user_id == user]],axis = 1, join = "outer")
#     new_rating.rename({"rating":user})
# #new_rating

In [ ]:
#list(rating.user_id.unique())